*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

#navb{
   background-color:wheat;
}

#alpha{
   color: orange; 
   font-weight: 800;
   font-size:42px;
}

#word{
    color: black;
    font-weight: 700;
    font-size: 30px;
    
}
.nav-item .nav-link{
    color: black;
    font-size: 20px;
}
.nav-item .nav-link:hover{
    color: whitesmoke;
    background-color: orange;
    border-radius: 8px;
}

#navb form button{
    color: whitesmoke;
    background-color: orange;
    border: none;

}

.home{
    width: 100%;
    height: 100vh;
    background-image:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),url('india.jpg');
    background-repeat: no-repeat;
    background-size:cover;
  
}

.info{
    text-align: center;
    padding-top: 150px;

}
.info h4{
    color: whitesmoke;
    font-weight: 400px;
    font-size: 80px;
}

.info h1{
    color: whitesmoke;
    font-weight: 300px;
    font-size: 60px;
    
}
 
.info p{
    color: rgb(43, 255, 0);
    font-size: 28px;
    font-weight: 400;
}

.info a{
    padding-top: 35px;
    border-radius: 7px;
    text-decoration: none;
    font-size: larger;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color:orange;

}
.info a:hover{
    background-color: aqua;
    width: 17px;
}

 
.animation{
    padding: 10px;
    margin: 20px;
}


.animation::after{
    content: '';
    color: rgb(0, 174, 255);
    animation: changetext 10s infinite linear;
}

@keyframes changetext{
    0%{content:"Varansi";}
    10%{content:"Assam";}
    20%{content:"Kashmir";}
    30%{content:"Uttrakhand";}
    40%{content:"Arunchal Pradesh";}
    50%{content:"Jaipur";}
    60%{content:"Udaipur";}
    70%{content:"Indore";}
    80%{content:"Hydrabad";}
    09%{content:"Telangana";}
    100%{content:"Mumbai";}
}

.book{
    background:whitesmoke;
    padding: 60px;
}
.text h1{
    text-align: center;
    font-weight: 5500;
}
.text h1 span{
    color:orange;
    font-size: 50px;
}
.book .row{
    margin-top: 40px;
}
.book form input{
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
}
.book form textarea{
    border-radius: 10px;
    height: 200px;
}
.book .submit{
    width: 160px;
    font-size: 16px;
    background: orange;
    color: white;
    margin-top: 10px;
    transition: 0.5s;
    border:white;
}
.book .submit:hover{
    width: 200px;
}

.txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
}
.txt h1 span{
    color: orange;
}
.packages .card{
    border-radius: 5px;
    padding: 4px;
}
.packages .card img{
    border-radius: 5px;
}
.packages .card .body{
    background: transparent;
}
.packages .card .body h3{
    font-size: 25px;
    font-weight: 600;
}
.packages .card .body p{
    font-size: 15px;
}
.checked{
    color:orange;
}
.star i{
    font-size: 15px;
}
.packages .card .body h6{
    font-size: 20px;
}
.gallary .h1{
    text-align: center;
}
.gallary{
    margin-top: 50px;
}
.gallary .card{
    border-radius: 10px;
    cursor: pointer;
}
.gallary .card img{
    border-radius: 10px;
    transition: 0.7s;
}
.gallary .card img:hover{
    transform: scale(1.1);
}

.about{
    padding: 50px;
    margin-top: 50px;
    background: #f9f9f9;
}
.about .card{
    border-radius: 10px;
}
.about .card img{
    border-radius: 10px;
}
.about h2{
    font-weight: 600;
    letter-spacing: 1px;
}
.about p{
    font-weight: 500;
}
#about-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background:orange;
    color: white;
    font-weight: 550;
    transition: 0.5s;
}
#about-btn:hover{
    width: 170px;
}
#footer{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: white;
}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
}
#footer h1 span{
    color: orange;
}
.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background:orange;
}